:root {
    --syne: "Syne", sans-serif;
    --Josefin: 'Josefin Sans';
    --ubuntu: 'Ubuntu';
    --Manrope: 'Manrope';
    --Cantarell: 'Cantarell';
    --Montserrat: 'Montserrat';
    --gwendolyn: 'Gwendolyn';
    --teko: 'Teko';
    --pacifico: 'Pacifico';
    --Comfortaa: "Comfortaa", sans-serif;
    --rajdhani: "Rajdhani", sans-serif;
    --bellota: "Bellota", system-ui;
    --bodoni-moda: "Bodoni Moda", serif;
    --dongle: "Dongle", sans-serif;
    --gruppo: "Gruppo", sans-serif;
    --poiret-one: "Poiret One", sans-serif;
    --sofia: "Sofia", cursive;

    --black: #000000;
    --light: #FFFFFF;
    --dark-bg: #333333;
    --light-bg: #FFFFFF;
    --bg-1: #DBDADA;
    --bg-2: #DFD9D1;
    --bg-light-green: #D0D4CB;
    --primary-color-navyblue: #2A2851;
    --bg-light-blue: #BDBED1;
    --bg-heavy-gray: #b5b3b3;
    --primary-color-green: #054804;
    --bg-light-pink: #B7ABBB;
    --primary-color-orange: #BF5423;
    --bg-light-gray: #CEC8CA;
    --primary-color-purple: #491E99;
    --accent-color: #0B3641;

    --dark-color: #000000;
    --light-color: #FFFFFF;
    --text-color-dark-1: #040316;
    --text-color-light-1: #CDCCCC;

    --green: #046933;
}